/* Adjusts page to fit screensize */
@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

#account {
    display:none
}

.hamburger {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 1em;
}

.nav-item {
    margin-left: 2em;
    height: auto;
}

.header {
    text-align: center;
    color:  #111122;
    background-color: #03A29C;
    height: auto;
}

.filter_title{
    font-family: 'Sen', sans-serif;
    font-size: 2em;
    font-weight: 100;
    color: #31393c;
    text-align: center;
    margin: 0px;
}

.content {
    padding: 1em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-content: center;
    background-color: #F5F5F5;
    height: auto;
}

.footer {
    padding: 0;
    text-align: center;
    background-color: #03A29C;
    height: 5em;
}

.title {
    font-family: 'Sen', sans-serif;
    font-size: 3em;
    font-weight: 900;
    color: #31393c;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.titlebutton {
    font-family: 'Sen', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #31393c;
}

.titlebutton_2 {
    font-family: 'Sen', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #F5F5F5;
}

.titlebutton:hover {
    font-family: 'Sen', sans-serif;
    font-weight: 600;
    color: #F5F5F5;
}

.titlebutton_2:hover {
    font-family: 'Sen', sans-serif;
    font-weight: 600;
    color: #31393c;
}

.title_main {
    font-family: 'Sen', sans-serif;
    font-size: 3em;
    font-weight: 900;
    color: #31393c;
    margin-top: 0;
    margin-bottom: 0;
}

.title_secondary {
    font-family: 'Sen', sans-serif;
    font-size: 0.7em;
    font-weight: 100;
    color: #31393c;
    margin-top: 0;
    margin-bottom: 0;
}

.p_main {
    font-family: 'Sen', sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    color: #31393c;
    text-decoration: none;
    margin-bottom: 40px;
}

.p_main_2 {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
    text-decoration: none;
    margin-bottom: 40px;
}

#main {
    margin-bottom: auto;
    
}

#main_box{
    text-align: center;
}

.p_accounts, .p_basket {
    font-family: 'Sen', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    color: #31393c;
    text-decoration: none;
    text-align: left;
}

a {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
    text-decoration: none;
}

.button, .button_remove {
    background-color: #111122;
    padding: 0.7em;
    color: #F5F5F5;
    border-radius: 0.2em;
    font-family: 'Sen', sans-serif;
    font-size: 0.5em;
}

.auth_button {
    background-color: #111122;
    padding: 0.7em;
    color: #F5F5F5;
    border-radius: 0.2em;
    font-family: 'Sen', sans-serif;
    font-size: 1em;
}

.button_success {
    background-color: #014947;
    padding: 0.2em;
    color: #F5F5F5;
    border-radius: 5px;
    font-family: 'Sen', sans-serif;
    font-size: 0.5em;
}

.button:hover, .button_remove:hover, .auth_button:hover {
    color: #f5f5f5;
    background-color: #31393c;
}

.filters {
    font-family: 'Sen', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #31393c;
    padding: 10px;
}

#filter-form {
    text-align: right;
}

.card {
    font-family: 'Sen', sans-serif;
    font-size: 0.8em;
    color: #31393c;
    background-color: #d3d3d3;
    padding: 1em;
    border-radius: 0.5em;
    margin-bottom: 1em;
    height: 14em;
    width: 12em;
}

.card-body, .page-body {
    margin-bottom: auto;
}


.checkout-card {
    font-family: 'Sen', sans-serif;
    font-size: 1em;
    color: #31393c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: auto;
    width: 300px;
    border-color: #31393c;
    border-width: 2px;
    border-style: dotted;
}

p.header {
    font-family: 'Sen', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #31393c;
    text-align: center;
    margin: 0px;
}

p {
    font-family: 'Sen', sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    color: #31393c;
    text-align: center;
    margin: 0px;
}

.parent2 {
    display: flex;
    background-color: transparent;
    flex-flow: row;
    width: 60%;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}

.parent2 > div {
    background-color: transparent;
    /* margin: 10px; */
    padding: 0.1em;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: center;
}

.store, .checkout {
    border-style: dashed;
    border-color: #fff;
    border-radius: 7px;
    width: 9em;
}

.store_btn, .add_btn {
    background-color: #111122;
    padding: 0.7em;
    color: #F5F5F5;
    border-radius: 0.2em;
    font-size: 0.6em;
    margin: 0.7em;
    color: #F5F5F5;
    font-family: 'Sen', sans-serif;
    font-weight: 100; 
}

.store_btn:hover {
    background-color: #31393c;
}

.account_header {
    font-family: 'Sen', sans-serif;
    font-size: 3em;
    font-weight: 800;
    color: #31393c;
    margin-top: 0;
    margin-bottom: 1em;
    text-align: center;
}

input[type=text], select {
    width: 100%;
    font-family: 'Sen', sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.5em;
}

.profile-pic {
    border-radius: 50%;
    border-color: #000;
    border-style: solid;
    border-width: 3px;
    width: 8em;
    height: 8em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parent {
    display: flex;
    background-color: transparent;
    flex-flow: row wrap;
    width: 90%;
    align-content: center;
    align-items: stretch;
    justify-content: center;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}

.parent > div {
    background-color: transparent;
    /* margin: 10px; */
    padding: 10px;
    font-size: 30px;
    width: auto;
    height: auto;
    text-align: center;
}

.parent_main {
    display: flex;
    background-color: transparent;
    flex-flow: row;
    width: 90%;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    div {
        align-self: start;
        background-color: transparent;
        /* margin: 10px; */
        padding: 10px;
        font-size: 30px;
        width: auto;
        height: auto;
        text-align: center;
    }
}


@media screen and (max-width:1400px) {

    .content {
        height: auto;
    }

    .header {
        height: auto;
    }
    
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    li {
        list-style: none;
    }
    
    a {
        color: white;
        text-decoration: none;
    }

    p {
        font-family: 'Sen', sans-serif;
        font-size: 1em;
        font-weight: 600;
        color: #31393c;
        text-align: center;
        margin: 0px;
    }

    p.header {
        height: auto;
        font-size: 1.6em;
    }

    .titlebutton {
        font-size: 4em;
    }
    
    .titlebutton_2 {
        font-size: 4em;
    }

    .auth_button {
        font-size: 3em;
    }

    .store_btn, .add_btn {
        font-size: 1em;
        padding: 0.5em;
    }

    .parent {
        height: auto;
    }

    .navbar {
        padding: 1rem 1.5rem;
    }
    
    .hamburger {
        display: none;
    }
    
    .bar {
        display: block;
        width: 4em;
        height: 0.5em;
        margin: 1em auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
    
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #03A29C;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        height: 40em;
        padding: 1rem;
    }

    h1.title {
        font-size: 4.5em;
    }

    .nav-menu.active {
        right: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(1.45em) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-1.45em) rotate(-45deg);
    }

    .button, .button_remove {
        background-color: #111122;
        // padding: 20px;
        color: #F5F5F5;
        border-radius: 1rem;
        font-family: 'Sen', sans-serif;
        font-size: 2rem;
    }

    .title_main {
        font-size: 4em;
    }

    .card {
        font-family: 'Sen', sans-serif;
        font-size: 2em;
        color: #31393c;
        background-color: #d3d3d3;
        padding: 1em;
        border-radius: 0.5em;
        margin-bottom: 1em;
        margin-left: 2em;
        height: auto;
        width: 12em;
    }

    .parent2 {
        width: 100%;
    }

    .checkout-card {
        font-family: 'Sen', sans-serif;
        font-size: 1em;
        color: #31393c;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        height: auto;
        width: 15em;
        border-color: #31393c;
        border-width: 2px;
        border-style: dotted;
    }

    .checkout {
        width: 13em;
    }

    .button_remove {
        margin-bottom: 1em;
    }

    input[type=text], select {
        width: 100%;
        font-family: 'Sen', sans-serif;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 0.9em;
    }

    input[type=checkbox] {
        width: 2em;
        height: 2em;
    }

    .p_basket, .p_accounts {
        font-size: 1.2em;
    }

    hr {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .filter_title{
        font-family: 'Sen', sans-serif;
        font-size: 3em;
        text-align: center;
        margin: 0px;
    }

    .filters{
        font-size: 2.8em;
        text-align: center;
    }
    #filter_div{
        margin-right: 2.2em;
        text-align: center;
    }
}