/* Adjusts page to fit screensize */
@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

#account {
    display:none
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #F5F5F5;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 10px;
}

.nav-item {
    margin-left: 30px;
    height: auto;
}

.header {
    text-align: center;
    color:  #111122;
    background-color: #03A29C;
    height: auto;
}

.content {
    padding: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-content: center;
    background-color: #F5F5F5;
    height: auto;
}

.footer {
    padding: 10px;
    text-align: center;
    background-color: #03A29C;
    height: 50px;
}

.title {
    font-family: 'Sen', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #31393c;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.titlebutton {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
}

.titlebutton_2 {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #F5F5F5;
}

.titlebutton:hover {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #F5F5F5;
}

.titlebutton_2:hover {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
}

.title_main {
    font-family: 'Sen', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #31393c;
    margin-top: 0;
    margin-bottom: 0;
}

.title_secondary {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: #31393c;
    margin-top: 0;
    margin-bottom: 0;
}

.p_main {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
    text-decoration: none;
    margin-bottom: 40px;
}

.p_main_2 {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
    text-decoration: none;
    margin-bottom: 40px;
}

#main {
    margin-bottom: auto;
    
}

#main_box{
    text-align: center;
}

.p_accounts, .p_basket {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
    text-decoration: none;
    text-align: left;
}

a {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
    text-decoration: none;
}

.button, .button_remove {
    background-color: #111122;
    padding: 20px;
    color: #F5F5F5;
    border-radius: 5px;
    font-family: 'Sen', sans-serif;
    font-size: 15px;
}

.button_success {
    background-color: #014947;
    padding: 20px;
    color: #F5F5F5;
    border-radius: 5px;
    font-family: 'Sen', sans-serif;
    font-size: 15px;
}

.button:hover, .button_remove:hover {
    color: #f5f5f5;
    background-color: #31393c;
}

.filters {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
    padding: 10px;
}

.card {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    color: #31393c;
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 320px;
    width: 300px;
}

.card-body, .page-body {
    margin-bottom: auto;
}

.card2 {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    color: #31393c;
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    /* height: 200px;
    width: 1200px; */
    height: 320px;
    width: 300px;
}

.checkout-card {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    color: #31393c;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: auto;
    width: 300px;
    border-color: #31393c;
    border-width: 2px;
    border-style: dotted;
}

p2, a2 {
    font-family: 'Sen', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #111122;
    text-decoration: none;
}

p {
    font-family: 'Sen', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #31393c;
    text-align: center;
    margin: 0px;
}

.parent2 {
    display: flex;
    background-color: transparent;
    flex-flow: row;
    width: 60%;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
    height: auto;
}

.parent2 > div {
    background-color: transparent;
    /* margin: 10px; */
    padding: 10px;
    font-size: 30px;
    width: auto;
    height: auto;
    text-align: center;
}

.store, .checkout {
    border-style: dashed;
    border-color: #fff;
    border-radius: 7px;
}

.store_btn, .add_btn {
    background-color: #111122;
    margin: 10px;
    padding: 10px;
    color: #F5F5F5;
    border-radius: 5px;
    font-family: 'Sen', sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.store_btn:hover {
    background-color: #31393c;
}

.account_header {
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: #31393c;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

input[type=text], select {
    width: 100%;
    font-family: 'Sen', sans-serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.profile-pic {
    border-radius: 50%;
    border-color: #000;
    border-style: solid;
    border-width: 3px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media screen and (min-width: 1401px) {

    .parent {
        display: flex;
        background-color: transparent;
        flex-flow: row wrap;
        width: 90%;
        align-content: center;
        align-items: stretch;
        justify-content: center;
        justify-items: center;
        margin-right: auto;
        margin-left: auto;
        height: auto;
    }
  
    .parent > div {
        background-color: transparent;
        /* margin: 10px; */
        padding: 10px;
        font-size: 30px;
        width: auto;
        height: auto;
        text-align: center;
    }

    .parent_main {
        display: flex;
        background-color: transparent;
        flex-flow: row;
        width: 90%;
        align-content: flex-start;
        align-items: flex-start;
        justify-content: center;
        justify-items: center;
        margin-right: auto;
        margin-left: auto;
        height: auto;
        div {
            align-self: start;
            background-color: transparent;
            /* margin: 10px; */
            padding: 10px;
            font-size: 30px;
            width: auto;
            height: auto;
            text-align: center;
        }
    }
  
    
}

@media screen and (max-width:1400px) {
    .parent {
        display: flex;
        background-color: transparent;
        flex-flow: row wrap;
        width: 100%;
        align-content: center;
        align-items: flex-start;
        justify-content: center;
        justify-items: center;
        margin-right: auto;
        margin-left: auto;
        height: auto;
    }

    .parent > div {
        background-color: transparent;
        /* margin: 10px; */
        padding: 10px;
        font-size: 30px;
        width: auto;
        text-align: center;
        height: auto;
    }
}