/* Adjusts page to fit screensize */
@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #F5F5F5;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 10px;
}

.nav-item {
    margin-left: 30px;
    height: auto;
}

.header {
    text-align: center;
    color:  #111122;
    background-color: #03A29C;
    height: auto;
}

.content {
    padding: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-content: center;
    background-color: #F5F5F5;
    height: auto;
}

.footer {
    padding: 10px;
    text-align: center;
    background-color: #03A29C;
    height: 50px;
}

.title {
    font-family: 'Sen', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #31393c;
    margin-top: 0;
    margin-bottom: 0;
}

.titlebutton {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
}

.titlebutton_2 {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #F5F5F5;
}

.titlebutton:hover {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #F5F5F5;
}

.titlebutton_2:hover {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
}

.title_main {
    font-family: 'Sen', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #31393c;
    margin-top: 0;
    margin-bottom: 0;
}

.p_main {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
    text-decoration: none;
    margin-bottom: 40px;
}

a {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #31393c;
    text-decoration: none;
}

.button {
    background-color: #111122;
    padding: 20px;
    color: #F5F5F5;
    border-radius: 5px;
    font-family: 'Sen', sans-serif;
    font-size: 15px;
}

.button:hover {
    color: #f5f5f5;
    background-color: #31393c;
}

.card {
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    color: #31393c;
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 320px;
    width: 300px;
}

p2, a2 {
    font-family: 'Sen', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #111122;
    text-decoration: none;
}

p {
    font-family: 'Sen', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #31393c;
    text-align: left;
    margin: 0px;
}
@media screen and (min-width: 1401px) {

    .parent {
        display: flex;
        background-color: transparent;
        flex-flow: row wrap;
        width: 90%;
        align-content: center;
        align-items: flex-start;
        justify-content: center;
        justify-items: center;
        margin-right: auto;
        margin-left: auto;
        height: auto;
    }
  
    .parent > div {
        background-color: transparent;
        /* margin: 10px; */
        padding: 10px;
        font-size: 30px;
        width: auto;
        height: auto;
        text-align: center;
    }
}

@media screen and (max-width:1400px) {
    .parent {
        display: flex;
        background-color: transparent;
        flex-flow: row wrap;
        width: 100%;
        align-content: center;
        align-items: flex-start;
        justify-content: center;
        justify-items: center;
        margin-right: auto;
        margin-left: auto;
        height: auto;
    }

    .parent > div {
        background-color: transparent;
        /* margin: 10px; */
        padding: 10px;
        font-size: 30px;
        width: auto;
        text-align: center;
        height: auto;
    }
}